.wrapper{
    border: 5px solid black;
    border-radius: 20px;
    background-color: aqua;
    
    width:100%;
    height:216px;
}
.imageleft{
    display: inline;
}
.main{
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
    background-color: #E7D2FF;
}