.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 115px 0px;
    height:260px;
    width:100%;
}
button{
    z-index: 1;
    background-color: transparent;
    border: none;
}

.background{
    background-color:aqua
}

  