.row{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   padding: 125px 50px;
    height:260px;
    width:100%;
}
button{
    z-index: 1;
    background-color: transparent;
    border: none;
}

.background{
        background-image: url('../img/light.jpg');
        background-size: cover;
        background-repeat: no-repeat;  
        height:480px;
}
@media screen and (max-width:400px){
    .row{
       padding: 125px 0px;
        height:260px;
        width:100%;
    }
}
@media screen and (max-width:800px){
    .row{
       padding: 125px 0px;
        height:260px;
        width:100%;
    }
}
  