.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 200px;
      background-image: url('../img/yellow.jpg');
      background-size: cover;
      background-repeat: no-repeat; 
      display: flex;
      justify-content: center;
      align-items: center;

  }
  
  .video-responsive iframe {
    top: 100px;
    height: 70%;
    width: 90%;
    position: absolute;
  }
  