.wrapper{
    border: 5px solid black;
    border-radius: 20px;
    background-color: aqua;
    
    width:100%;
    height:216px;
    align-items: center;
}
.imageleft{
    display: inline;
    position: absolute;
    margin-left: -72px;
   

}
.imageRight{
    position: absolute;
    margin-left: 799px;
  
}
.main{
    display: flex;
    flex-direction: row;
    margin: 30px 100px;
    background-color: #E7D2FF;
    position: relative;
    
}
h3{
    font-family: "Lucida Handwriting", cursive, sans-serif;
    font-size: 30px;
    margin-left: 190px;
}
.heart{
    height:30px;
    width:30px;
    margin:5px 272px;
   
}
.heart svg{
    fill: #FF0000;
}

@media screen and (max-width:400px){
    .imageleft{
        height:100px;
        width:100px;
    }
    .imageRight{
        height:100px;
        width:100px;
        margin-left: 150px;
    }
    h3{
        margin-left: 10px;
    }
    .heart{
        height:30px;
        width:30px;
        margin:5px 30px;
       
    }
    .main{
      width:250px;
    }
}
@media screen and (max-width:800px){
    .main{
        width:250px;
      }
    .imageleft{
        height:100px;
        width:100px;
        margin-left: -100px;
    }
    .imageRight{
        height:100px;
        width:100px;
        margin-left: 100px;
    }
    h3{
        margin-left: 10px;
    }
    .heart{
        height:30px;
        width:30px;
        margin:5px 30px; 
    }
    .wrapper{
       margin-left: -45px;
       margin-top: -10px;
    }

}