.wrapper{
    border: 5px solid black;
    border-radius: 20px;
    background-color: aqua;
    
    width:100%;
    height:216px;
    align-items: center;
}
.imageleft{
    display: inline;
    position: absolute;
    margin-left: -72px;
   

}
.imageRight{
    position: absolute;
    margin-left: 799px;
  
}
.main{
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 120px;
    
}
h3{
    font-family: "Lucida Handwriting", cursive, sans-serif;
    font-size: 30px;
    margin-left: 190px;
}
.heart{
    height:30px;
    width:30px;
    margin:5px 272px;
   
}
.heart svg{
    fill: #FF0000;
}
.main{
    background-image: url('../img/blue.jpg');
    background-size: cover;
    background-repeat: no-repeat; 
    height:480px;
    width:1263px;
}

@media screen and (max-width:400px){
    .imageleft{
        height:100px;
        width:100px;
    }
    .imageRight{
        height:100px;
        width:100px;
        margin-left: 150px;
    }
    h3{
        margin-left: 10px;
    }
    .heart{
        height:30px;
        width:30px;
        margin:5px 30px;
       
    }
    .main{
        height:200px;
    width:fit-content;
    }
}
@media screen and (max-width:800px){
    .main{
        height:200px;
        width:fit-content;
      }
    .imageleft{
        height:100px;
        width:100px;
        margin-left: -100px;
    }
    .imageRight{
        height:100px;
        width:100px;
        margin-left: 100px;
    }
    h3{
        margin-left: 10px;
    }
    .heart{
        height:30px;
        width:30px;
        margin:5px 30px; 
    }
    .wrapper{
       margin-left: -45px;
       margin-top: -10px;
    }

}